<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Liste des jeux </h1>
	<table>
		<thead>
			<th>Id</th>
			<th>Image</th>
			<th>Nom</th>
			<th>Editeur</th>
			<th>Opérations</th>
		</thead>
		<tbody>
			<tr th:each="game: ${games}">
				<td><span th:text="${game.id}" /><td>
				<img th:src="${game.picture}" alt="${game.name}" style="width:200px;height:100px">
				<td><a th:href="@{/game/}+${game.id}"><span th:text="${game.name}" /></a></td>
				<td><span th:text="${game.editor.name}" /></td>
 				<td><span/> 
				<a th:href="@{/game/update/{id}(id=${game.id})}">update</a>
				
				<a th:href="@{/game/delete/{id}(id=${game.id})}">delete</a>
				</td>
			</tr>
		</tbody>
	</table>

<a th:href="@{/game/new}">ajouter un jeu</a>
<a th:href="@{/review}">liste des avis</a>


</body>
</html>