<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registration page</title>
</head>
<body>

	<div>


		<form th:action="@{/registration}" method="post" th:object= "${gamer}">
			<h1>Formulaire d'Inscription</h1>
			<div>
				<div th:if="${param.success}">
					Votre compte a ete cree avec sucees!
				</div>
				
				<p>
					<label for="username">Pseudonyme</label> 
					<input type="text" th:field="*{pseudo}"
						name="username" id="username" autofocus="autofocus" required>
				</p>
				<p>
					<label for="email">E-mail</label> 
					<input type="text" th:field="*{email}" name="email"
						id="email" required>
				</p>
				<p>
					<label for="password">Mot De Passe</label> 
					<input type="password" th:field="*{password}"
						name="password" id="password" required>
				</p>
				<p>
					<label for="birthdate">Date de naissance</label> 
					<input
						type="date"  th:field="*{birthdate}" name="birthdate" id="birthdate" required>
				</p>
				<p>
					<input type="submit" value="Inscription">
				</p>
			</div>
			</form>
			<a th:href="@{/login}">Se connecter</a>
	</div>


</body>
</html>