<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Reviews</title>
</head>
<body>

<table>
		<thead>
			<th>Date d'envoi</br>
			<a th:href="@{/review/sort/{sortMethod}(sortMethod='sendDateAsc')}">&#8593</a>
			<a th:href="@{/review/sort/{sortMethod}(sortMethod='sendDateDsc')}">&#8595</a>
			</th>
			<th>Nom du jeu</br>
			<a th:href="@{/review/sort/{sortMethod}(sortMethod='gameAsc')}">&#8593</a>
			<a th:href="@{/review/sort/{sortMethod}(sortMethod='gameDsc')}">&#8595</a>
			</th>
			<th>Pseudo du Joueur</br>
			<a th:href="@{/review/sort/{sortMethod}(sortMethod='pseudoAsc')}">&#8593</a>
			<a th:href="@{/review/sort/{sortMethod}(sortMethod='pseudoDsc')}">&#8595</a>
			</th>
			<th>Note</br>
			<a th:href="@{/review/sort/{sortMethod}(sortMethod='noteAsc')}">&#8593</a>
			<a th:href="@{/review/sort/{sortMethod}(sortMethod='noteDsc')}">&#8595</a>
			</th>
			<th>Image</th>
			<th>Statut</th>
			<th>Opérations</th>
		</thead>
		<tbody>
			<tr th:each="review: ${reviews}">
				<td><span th:text="${review.sendDate}"/></td>
				<td><span th:text="${review.game.name}" /></td>
				<td><span th:text="${review.gamer.pseudo}" /></td>
				<td><span th:text="${review.note}" /></td>
				<td><span th:text="${review.game.picture}" /></td>
				<td>
				 <span th:if="${review.moderator}">Modéré par <span th:text="${review.moderator.pseudo}" /></span>
    			<span th:unless="${review.moderator}">A modérer</span>
    			</td>
				<td><a th:href="@{/review/{id}(id=${review.id})}">Voir</a></td>
			</tr>
		</tbody>
	</table>
<a th:href="@{/review/new}">Ajouter un avis</a>
<a href="#">Déconnexion</a>
</body>
</html>